
body {
    background: #283655;
}

.container {
    max-width: 1024px;
}

.header-block {
    background: #4D648D;
    height: 50px;
}

.nav-header__list {
    text-align: center;
    height: 50px;
    padding: 12px;
}

.nav-header__list > li {
    display: inline;
    color: #ffffff;
    font-size: 18px;
    margin-right: 100px;
}

.block-container-blogs {
    margin-top: 20px;
    outline: 2px solid red;
}

.content-block {
    outline: 2px solid orange;
    margin-bottom: 30px;
}